# Set default behavior
* text=auto eol=lf

# Explicitly declare the binary files
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
*.avif  binary
*.ico   binary
*.woff  binary
*.woff2 binary
*.ttf   binary
*.otf   binary
