<div class="post-preview">
  <a href="{{ .RelPermalink }}">
      <h2 class="post-title">{{ .Title }}</h2>
      {{ with .Params.subtitle }}
      <h3 class="post-subtitle">{{ . }}</h3>
      {{ end }}
      <div class="post-content-preview">
        {{ if isset .Params "description" }} {{ index .Params "description" }}
        {{ else }}
        {{ .Summary | plainify | truncate 180 }}
        {{ end }} 
      </div>
  </a>
  <p class="post-meta">
      {{ .Date.Format "2006-01-02" }}
  </p>
</div>
<hr>