@import "./breakpoints.css";
@import "./sidebar.css";

.prose {
  width: var(--content-width);
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em 1em 0 1em;
}
@media (--bp-md) {
  .prose {
    padding-bottom: 1em;
  }
}
.prose p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.75rem 0 1.25rem 0;
  color: var(--color-900);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}
h1 {
  font-size: var(--font-size-4xl);
}
h2 {
  font-size: var(--font-size-3xl);
}
h3 {
  margin-top: 2.75rem;
  font-size: var(--font-size-2xl);
}
h4 {
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
  font-size: var(--font-size-xl);
}
h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.875rem;
  font-size: var(--font-size-lg);
}
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.875rem;
  font-size: var(--font-size-md);
  font-style: italic;
}

table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid var(--color-500);
  border-left: none;
  border-right: none;
  padding: 0.5em 0.75em;
}
th {
  border-bottom-width: 2px;
  border-top-width: 2px;
}

code,
kbd {
  font-size: 0.85em;
  font-family: var(--font-mono);
  padding: 2px 6px;
  border-radius: 4px;
}
code {
  background-color: var(--color-300);
}
kbd {
  border: 1px solid var(--color-300);
  box-shadow: 0 2px 0 var(--color-shadow);
}
pre > code {
  all: unset;
}
.expressive-code {
  margin: 1.5em 0;
}

blockquote {
  border-left: 4px solid var(--color-300);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 0.85em;
  color: var(--color-700);
}
mark {
  background-color: var(--color-sp);
  color: var(--color-900);
}

hr {
  border: none;
  border-top: 1px solid var(--color-500);
}

figure {
  margin: 1.5em 0;
}
figcaption {
  font-size: var(--font-size-sm);
  color: var(--color-700);
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 4.8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* rehype-autolink-headings */
.icon-link::before {
  content: "#";
  margin-left: 0.25em;
  display: inline-block;
  color: var(--color-500);
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.2s;
}
h1:hover .icon-link::before,
h2:hover .icon-link::before,
h3:hover .icon-link::before,
h4:hover .icon-link::before,
h5:hover .icon-link::before,
h6:hover .icon-link::before {
  opacity: 1;
}

.title {
  margin-bottom: 2.5em;
  padding: 0 0 2em 0;
  line-height: 1;
}
.title h1 {
  margin: 0 0 0.5em 0;
}

.meta {
  margin: 0 0 0.5em 0;
  color: var(--color-700);
  font-size: var(--font-size-sm);
}
.main-content {
  font-weight: var(--font-weight-normal);
  padding-bottom: 2em;
}
.main-content a {
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
.categories {
  font-size: var(--font-size-sm);
  color: var(--color-700);
}
.categories::before {
  content: "|";
  margin: 0 0.5em;
}
.categories a {
  text-decoration: none;
  color: var(--color-700);
}
.categories a:hover {
  color: var(--color-900);
}
.article-footer {
  width: var(--content-width);
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 0 1em 1em;
}

@media (--bp-lg) {
  .post-layout {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    width: 100vw;
    margin-left: calc((var(--content-width) - 100vw) / 2);
  }
  .prose {
    grid-column: 2;
    margin: 0;
    min-width: 0;
  }
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-left: 0;
  list-style-type: none;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 4em 0 2em 0;
}
.post-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 0.25em; */
  text-decoration: none;
}
/* .post-nav a:hover {
  border-color: var(--color-700);
  color: var(--color-900);
} */
.post-nav-prev {
  margin-left: auto;
  text-align: right;
}
.post-nav-label {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  color: var(--color-700);
}
.post-nav-title {
  font-size: var(--font-size-sm);
  color: var(--color-700);
}
.post-nav-prev:hover .post-nav-label,
.post-nav-prev:hover .post-nav-title,
.post-nav-next:hover .post-nav-label,
.post-nav-next:hover .post-nav-title {
  color: var(--color-900);
}
