<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('author') %></h3>
    <div class="widget">
      <div style="text-align:center;">
        <!-- <table border="1">
          <tr>
            <td>
              <a href="/Pages/About-Me.html">
                <img src="https://1.bp.blogspot.com/-sspbiAhkwxg/XoiFbkxKHAI/AAAAAAAACBs/CSM39YqdH5g6b2VjwfWF5XlXdn_D9dMCgCKgBGAsYHg/s225/Z-Hex%2BLogo_V%2B2.2%2528Fin_W%2529-04-01.png" width="80" style="margin-right: 10px";><br/>
              </a>
            </td>
            <td>
              <a href="/Pages/About-Me.html">
                <b><font color="#444" size="6">ZiTe</font></b><br>
              </a>
                <div style="text-align:left;">
                  有什麼話想說，都歡迎留言或寄E-mail給我！<br>
                  honmonoh@gmail.com
                </div>
              </td>
          </tr>
        </table> -->
        <a href="/pages/about.html" title="關於我">
          <img src="https://1.bp.blogspot.com/-sspbiAhkwxg/XoiFbkxKHAI/AAAAAAAACBs/CSM39YqdH5g6b2VjwfWF5XlXdn_D9dMCgCKgBGAsYHg/s225/Z-Hex%2BLogo_V%2B2.2%2528Fin_W%2529-04-01.png" width="170"; style="margin-bottom: 10px">
        </a>
        <a href="/pages/about.html" title="關於我">
          <b><font color="#444" size="6">ZiTe</font></b>
        </a>
        <font color="#444">
          <font size="6">／</font>
          <font size="1">honmonoh@gmail.com</font><br>
          <br>
        </font>
      </div>
      <div style="text-align:left;">
        有什麼話想說，都歡迎在文章下方留言或寄E-mail給我！
      </div>
  </div>
<% } %>
