<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('contact') %></h3>
    <div class="widget">
        <font color=#000000>
          有什麼話想說，都歡迎在文章下方留言，或是寄E-Mail給我！<br/>
          honmonoh@gmail.com
        </font>
    </div>
  </div>
<% } %>
