<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('license') %></h3>
    <div class="widget">
          本站內容除了特別標註者外，都是以<br/>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">姓名標示-非商業性-禁止改作4.0 國際</a><br/>
          授權。<br/>
          詳細分享注意事項請參考<a href="https://zite-h.github.io//Pages/How-to-Share.html" target="_blank">如何分享</a>
    </div>
  </div>
<% } %>
