<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('questionnaire') %></h3>
    <div class="widget">
          每一個意見對我來說都非常寶貴。如果您願意的話，不妨填寫<a href="https://goo.gl/forms/RwQrwaEg7wAFrhUz1" title="讀者問卷" target="_blank">此問卷</a>。謝謝！<br/>
    </div>
  </div>
<% } %>
